.grdPatient{
   margin: 10px;
   border-radius: 10px;
   display: grid;
   grid-template-columns: 1fr 2fr;
   grid-template-rows: 2fr 1fr 1fr 1fr;
   align-items: center;
   box-shadow: 1px 1px 4px;
   background: #c8c8c8;
   padding: 10px;
   grid-gap: 5px;
}

.grdFilter{
   display: grid;
   grid-template-columns: 40px 1fr;
   align-items: center;
}

.foto{
   width: 12vw;
   height: 12vw;
   box-shadow: 0 0 5px;
}

.grdRemove{
   display: grid;
   justify-items: center;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr 1fr;
}
ion-item-option ion-icon{
   font-size: 30px;
}