<ion-header>
   <ion-toolbar>
      <ion-buttons slot="start">
         <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <img src="assets/images/integralmenteET.png" style="height: 60px">
      <ion-avatar slot="end">
         <img class="avatar" [src]="userPhoto">
      </ion-avatar>
   </ion-toolbar>
</ion-header>

<ion-content>
   <ion-item>
      <ion-icon name="person" class="filterIcon" slot="start"></ion-icon>
      <ion-label position="floating" class="txtCriteria">Ingrese datos del paciente</ion-label>
      <ion-input type="text" [(ngModel)]="criteria" class="filterInput"></ion-input>
   </ion-item>
   <ion-grid>
      <ion-row>
         <ion-col size-sm="12" size-lg="6">
            <ion-list>
               <ion-item-sliding *ngFor="let p of patients | searchInfo: criteria" (click)="gotoPatient(p)">
                  <ion-item>
                     <ion-avatar slot="start" class="foto">
                        <img [src]="p.foto">
                     </ion-avatar>
                     <ion-label>
                        <h2>{{p.apellido}}, {{p.nombres}}</h2>
                        <h3>{{evalEdad(p.nacimiento)}}, {{p.obrasocial}}</h3>
                        <p>{{p.atencion}}</p>
                     </ion-label>
                  </ion-item>
                  <ion-item-options side="end">
                     <ion-item-option (click)="removePatient(p)" color="danger">
                        <div class="grdRemove">
                           <ion-icon name="trash"></ion-icon>
                           <div>Eliminar</div>
                        </div>
                     </ion-item-option>
                  </ion-item-options>
               </ion-item-sliding>
            </ion-list>
         </ion-col>
      </ion-row>
   </ion-grid>
   <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="glass glRound" style="position: absolute;">
      <ion-fab-button (click)="gotoPatient({})">
         <ion-icon name="add"></ion-icon>
      </ion-fab-button>
   </ion-fab>
</ion-content>