<ion-header>
   <ion-toolbar>
      <ion-buttons slot="start">
         <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Pacientes</ion-title>
   </ion-toolbar>
</ion-header>

<ion-content class="backPage">
   <ion-item>
      <ion-label position="floating">Ingrese datos del paciente</ion-label>
      <ion-input type="text" [(ngModel)]="criteria"></ion-input>
      <ion-icon name="person" slot="start"></ion-icon>
   </ion-item>

   <div class="grdPatient" *ngFor="let p of patients | searchInfo: criteria" (click)="gotoDetail(p)">
      <ion-avatar class="foto">
         <img [src]="p.foto">
      </ion-avatar>
      <div></div>

      <div class="campo">
         Nombres:
      </div>
      <div>{{p.nombres}}</div>

      <div class="campo">
         Apellido:
      </div>
      <div>{{p.apellido}}</div>

      <div class="campo">
         Tel/Cel:
      </div>
      <div>{{p.telefono}}</div>
   </div>
</ion-content>