


ion-col.photo-col {
   flex: 0 0 4px;
   padding: 0;
   margin-right: 10px;
}

.btnEntrevista {
   border-radius: 50%;
   background: green;
   box-shadow: var(--shadow);
   color: white;
   width: 50px;
   height: 50px;
   font-size: 30px;
}

.btnEntrevista:active {
   background-color: rgb(1, 49, 1);
   box-shadow: none;
   transform: translateY(2px);
}

.filterIcon {
   font-size: 45px;
   text-shadow: 1px 1px 5px;
}

.historyCards {
   background: var(--medium);
   border-radius: 5px;
   box-shadow: 1px 1px 4px;
   padding: 5px;
   margin: 10px 5px;
   color: var(--dark);
}
.txtFecha{
   font-size: 15px;
   font-weight: bold;
   color:var(--dark);
}

.obsPanel {
   color: #555;
   width: 100%;
   word-wrap: break-word;
   text-align: justify;
   padding: 5px;
   background: var(--light);
   box-shadow: inset 1px 1px 4px;
   border-radius: 5px;
}

.grdRemove {
   display: grid;
   justify-items: center;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr 1fr;
}

ion-item-option ion-icon {
   font-size: 30px;
}