.sessionFrame {
   box-shadow: 0 0 3px;
   background: var(--medium);
   border-radius: 20px;
   margin: 10px;
   overflow-y: auto;
   // height: 78vh;
   padding: 20px 10px;
   color: var(--dark);
}

.sessionTitle{
   color: gray;
   text-align: center;
   text-shadow: 1px 1px 1px black;
}

.campo {
   width: auto;
   text-align: left;
}

.datePicker {
   padding:8px;
   width: 180px;
}

.txtArea {
   text-indent: 0px;
   width: 100%;
   word-wrap: break-word;
   text-align: justify;
   padding: 4px;
   border: 1px solid gray;
   background: var(--light);
}

.grdAttachToolbar{
   display: grid;
   grid-template-columns: 1fr 50px;
   align-items: center;
}
.grdAttachments{
   display: grid;
   grid-gap: 10px;
   grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
   -webkit-box-align: center;
   align-items: center;
   justify-items: center;
}

.fileAttr{
   font-size: 12px;
}

.attachmentBox{
   background: var(--light);
   border-radius: 10px;
   box-shadow: inset 1px 1px 2px;
   padding: 10px;
   width: 140px;
   height: 115px;
   text-align: center;
}
.thumbnail{
   height: 60px;
   width: 60px;
}
.btnClose{
   margin-top: -105px;
   margin-left: 95px;
   position: absolute;
   border: none;
   outline: none;
   background: #333d50;
   color: white;
   font-size: 20px;
   font-weight: bold;
   width: 30px;
   border-radius: 50%;
   box-shadow: var(--shadow);
   -webkit-box-align: center;
   padding-top: 3px;
}

.btnClose:active {
   background-color: #000000;
   box-shadow: none;
   transform: translateY(2px);
}

.btnAddAdjunto {
   border: none;
   outline: none;
   margin: 10px;
   background: #5491ff;
   color: white;
   font-size: 30px;
   font-weight: bold;
   width: 40px;
   height: 40px;
   padding-top: 5px;
   text-align: center;
   border-radius: 50%;
   box-shadow: var(--shadow);
}

.btnAddAdjunto:active {
   background-color: #3e4d8e;
   box-shadow: none;
   transform: translateY(2px);
}

