<ion-content *ngIf="patient">
   <h2 class="sessionTitle">{{patient.apellido}}, {{patient.nombres}}</h2>
   <div class="sessionFrame">
      <!-- <div class="txtFecha">{{s.fecha | date:'dd/MM/yyyy - HH:mm'}}</div> -->
      <div class="grdItem">
         <div class="campo">
            Fecha:
         </div>
         <ion-datetime displayFormat="DD/MM/YYYY - HH:mm" [(ngModel)]="fechaSesion" class="dato datePicker">
         </ion-datetime>
      </div>

      <div class="campo">Observaciones</div>
      <textarea (change)="onObsChanged($event)" rows="4" cols="40" labels="notes" wrap="virtual" class="txtArea">
         {{session.observaciones}}
      </textarea>

      <div class="campo">Notas</div>
      <textarea (change)="onNotasChanged($event)" wrap="hard" class="txtArea">
            {{session.notas}}
      </textarea>

      <div class="pie" style="background: none">
         <div class="grdPie">
            <div class="btnFoot" (click)="cancel()">
               <ion-icon name="close"></ion-icon>
               <p>Cancelar</p>
            </div>
            <div></div>
            <div class="btnFoot" (click)="save()">
               <ion-icon name="save"></ion-icon>
               <p>Guardar</p>
            </div>
         </div>
      </div>
   </div>

   <div class="sessionFrame">
      <div class="grdAttachToolbar">
         <div class="campo">Adjuntos</div>
         <div>
            <label for="attachment">
               <div class="btnAddAdjunto" (click)="addAttachment()">
                  <ion-icon name="add"></ion-icon>
               </div>
            </label>
            <input type="file" style="display: none" id="attachment" (change)="handleFile($event.target.files)" />
         </div>
      </div>
      <div class="grdAttachments">
         <div *ngFor="let a of attachments" class="attachmentBox">
            <div>
               <img class="thumbnail" [src]="a.url">
            </div>
            <div class="filename">a.nombre</div>
            <div class="createdAt">{{a.fecha | date:'dd/MM/yyyy - HH:mm'}}</div>
         </div>
      </div>
   </div>
</ion-content>