.sessionFrame {
   box-shadow: 0 0 3px;
   background: var(--medium);
   border-radius: 20px;
   margin: 10px;
   overflow-y: auto;
   height: 78vh;
   padding: 20px 10px;
   color: var(--dark);
}

.sessionTitle{
   color: gray;
   text-align: center;
   text-shadow: 1px 1px 1px black;
}

.campo {
   width: auto;
   text-align: left;
}

.datePicker {
   padding:8px;
   width: 180px;
}

.txtArea {
   text-indent: 0px;
   width: 100%;
   word-wrap: break-word;
   text-align: justify;
   padding: 4px;
   border: 1px solid gray;
   background: var(--light);
}

.grdAttachToolbar{
   display: grid;
   grid-template-columns: 1fr 50px;
   align-items: center;
}


.btnAddAdjunto {
   border: none;
   outline: none;
   margin: 10px;
   background: #5491ff;
   color: white;
   font-size: 20px;
   font-weight: bold;
   width: 110px;
   border-radius: 50%;
   box-shadow: var(--shadow);
   align-items: center;
   justify-items: center;
}

.btnAddAdjunto:active {
   background-color: #3e4d8e;
   box-shadow: none;
   transform: translateY(2px);
}

