<ion-content>
   <div class="backImg">
      <div class="loginFrame">

         <form [formGroup]="validations_form" class="form backForm" (ngSubmit)="tryEmailLogin(validations_form.value)"
            *ngIf="(user.displayName == '')">
            <div class="formTitle">
               <img src="assets/images/integralmenteET.png" class="logo">
            </div>

            <input formControlName="email" type="text" placeholder="Correo electrónico" >
            <div class="validation-errors">
               <ng-container *ngFor="let validation of validation_messages.email">
                  <div class="error-message"
                     *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
                     {{ validation.message }}
                  </div>
               </ng-container>
            </div>

            <input formControlName="password" type="password" class="form-controll" placeholder="Contraseña">
            <div class="validation-errors">
               <ng-container *ngFor="let validation of validation_messages.password">
                  <div class="error-message"
                     *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
                     {{ validation.message }}
                  </div>
               </ng-container>
            </div>

            <!-- <input type="text" class="form-controll" [ngModelOptions]="{standalone: true}" placeholder="nombre usuario" [(ngModel)]="nombres"> -->


            <div class="grdButtons">
               <button [disabled]="!validations_form.valid" (click)="tryEmailLogin()" type="submit" class="btns btnLogin btnSignIn" >Ingresar</button>
               <button (click)="goRegisterPage()" type="submit" class="btns btnLogin btnSignUp">Registrarse</button>
            </div>

            <label class="error-message">{{errorMessage}}</label>
         </form>
      </div>
   </div>
</ion-content>























<!--
   Bindings:
   =========
   user.displayName
   errorMessage

   Classes:
   ========
   form
   form-control
   error-message

   Methods:
   ========
   tryEmailLogin()
   goRegisterPage()
   tryGoogleLogin()
   tryFaceBookLogin()
-->