<ion-header>
   <ion-toolbar>
      <ion-buttons slot="start">
         <ion-back-button defaultHref="/login" (click)="cancel()"></ion-back-button>
      </ion-buttons>
      <div class="toolbarTitle">Edición de usuario</div>
   </ion-toolbar>
</ion-header>

<ion-content padding style="--ion-background-color: radial-gradient(#ffffff, #c1c1c1);">

   <ion-grid class="backForm">
      <ion-row justify-content-center style="margin-bottom: 30px">
         <ion-avatar class="fichaAvatar">
            <img [src]="fotoUrl">
            <div class="editFoto" *ngIf="isMobile" (click)="chooseFile()">
               CAMBIAR
            </div>
            <label for="photoEdit" *ngIf="!isMobile">
               <div class="editFoto">
                  SUBIR
               </div>
            </label>
         </ion-avatar>
         <input type="file" style="display: none" id="photoEdit" (change)="handleAvatar($event.target.files)" />
      </ion-row>
      <ion-row align-items-center justify-content-center>
         <ion-col>
            <input formControlName="displayName" type="text" placeholder="Nombre de usuario">
            <div class="validation-errors">
               <ng-container *ngFor="let validation of validation_messages.displayName">
                  <div class="error-message"
                     *ngIf="validations_form.get('displayName').hasError(validation.type) && (validations_form.get('displayName').dirty || validations_form.get('displayName').touched)">
                     {{ validation.message }}
                  </div>
               </ng-container>
            </div>
         </ion-col>
         <ion-col class="grdItem">
            <div class="campo">
               Administrador
            </div>
            <input class="switch" type="checkbox" />
         </ion-col>
      </ion-row>
      <ion-row>
         <div class="email">{{user.email}}</div>
      </ion-row>
      <ion-row>
         <p>No es posible cambiar el email, solo eliminar la cuenta y crear una nueva</p>
      </ion-row>
      <ion-row align-items-center justify-content-center>
         <ion-col>
            <button class="glass" expand="block" type="submit">Recuperar contraseña</button>
         </ion-col>
         <ion-col>
            <button class="glass" expand="block" type="submit">Actualizar datos</button>
         </ion-col>
      </ion-row>
   </ion-grid>
</ion-content>


<!--
   Classes:
   ========
   toolbarTitle
   backForm
   fichaAvatar
   editFoto
   error-message
   glass
 * validation-errors


   Bindings:
   =========
   validations_form
   validation_messages
   isMobile
   user.url

   Methods:
   ========
   cancel()
   tryRegister()
   chooseFile()
   handleAvatar()


-->