.fichaWrapper {
   background: var(--medium);
   overflow-y: auto;
   height: 78vh;
}

.grdItem {
   display: flex;
   align-items: center;
   margin: 5px;
}

.campo {
   font-weight: bold;
   width: 220px;
   text-align: right;
}

.dato {
   background: lightgray;
   box-shadow: inset 1px 1px 3px;
   border: none;
   margin: 0px 10px;
   border-radius: 5px;
   height: 40px;
   padding: 0px 10px;
   // width: 100%;
   max-width: 250px;
}


.container {
   height: calc(100vh-200px);
   color: var(--dark);
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: auto 1fr 100px;
   grid-template-areas:
      'retrato det1    det1   det1'
      'det2    det2    det2   det2'
      'pie     pie     pie    pie';
}


.retrato {
   grid-area: retrato;
}

.fichaAvatar {
   box-shadow: 2px 2px 10px black;
   width: 25vw;
   height: 25vw;
   overflow: hidden;
}

.det1 {
   grid-area: det1;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.det2 {
   grid-area: det2;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));

   // grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
}

.pie {
   grid-area: pie;
   background: var(--medium);
}

.grdPie {
   display: grid;
   grid-template-columns: 1fr 2fr 1fr;
   justify-items: center;
   align-items: center;
}

.btnFoot {
   border: none;
   outline: none;
   margin: 10px;
   background: #5491ff;
   color: white;
   font-size: 20px;
   font-weight: bold;
   width: 110px;
   border-radius: 5px;
   box-shadow: var(--shadow);
   align-items: center;
   display: grid;
   grid-template-columns: 1fr 3fr;
   justify-items: center;
}

.btnFoot:active {
   background-color: #3e4d8e;
   box-shadow: none;
   transform: translateY(2px);
}

.btnFoot p {
   font-size: 1rem;
}

.editFoto {
   background: black;
   color: white;
   text-align: center;
   opacity: .8;

   font-size: 3.5vw;
   padding: .9vw 0 2.0vw;
   margin-top: -9vw;
}

.frameContacto {
   margin: 5px;
   padding: 5px;
   box-shadow: 2px 2px 5px black;
   background: #bdbdbd;
   display: grid;
   justify-items: auto;
   border-radius: 10px;
}

.subtitle {
   font-size: 20px;
   font-weight: bold;
   text-align: center;
   padding-bottom: 20px;
}

.grdContacto {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}


@media only screen and (min-width: 500px) {
   .fichaAvatar {
      width: 140px;
      height: 140px;
   }

   .editFoto {
      font-size: 18px;
      margin-top: -42px;
      padding: 3px 0 10px;
   }
}