.tabWrapper {
   background: var(--light);
   overflow-y: auto;
   height: 78vh;
   padding: 10px 0px;
}

ion-col.photo-col {
   flex: 0 0 4px;
   padding: 0;
   margin-right: 10px;
}

.datePicker,
.lblEdad {
   padding: 8px;
   width: 100px;
}


.container {
   height: calc(100vh-200px);
   color: var(--dark);
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: auto 1fr 100px;
   grid-template-areas:
      'retrato det1  det1   det1'
      'det2    det2  det2   det2'
      'pie     pie   pie    pie';
}


.retrato {
   grid-area: retrato;
}

.fichaAvatar {
   box-shadow: 2px 2px 10px black;
   width: 25vw;
   height: 25vw;
   overflow: hidden;
}

.editFoto {
   background: black;
   color: white;
   text-align: center;
   opacity: .8;

   font-size: 3.5vw;
   padding: .9vw 0 2.0vw;
   margin-top: -9vw;
}

.frameContacto {
   margin: 20px 5px;
   padding: 5px;
   box-shadow: 2px 2px 5px #bdbdbd;
   background: #bdbdbd;
   border-radius: 10px;
}

.subtitle {
   font-size: 20px;
   font-weight: bold;
   text-align: center;
   padding-bottom: 20px;
}

.grdContacto {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}


@media only screen and (min-width: 500px) {
   .fichaAvatar {
      width: 140px;
      height: 140px;
   }

   .editFoto {
      font-size: 18px;
      margin-top: -42px;
      padding: 3px 0 10px;
   }
}