.adminIcon{
   position: absolute;
   width: 33px;
   margin-left: 13px;
   margin-top: -7px;
}


.foto{
   width: 12vw;
   height: 12vw;
   box-shadow: 0 0 5px;
   min-width: 60px;
   min-height: 60px;
   margin: 5px;
}
