.categories{
   top:130px;
}
.tabsShadow{
   box-shadow: 0px 2px 6px grey;
}

.grdPacient{
   font-size: 20px;
   display: grid;
   grid-template-columns: 70px 1fr 50px 50px;
   align-items: center;
   margin-top: -10px;
}

.btnPacient{
   border: none;
   outline:none;
   background: #5491ff;
   color: white;
   font-size: 20px;
   font-weight: bold;
   padding-top: 2px;
   height: 40px;
   width: 40px;
   border-radius: 50%;
   box-shadow: 1px 1px 4px grey;
}
.btnPacient:active {
   background-color: #3e4d8e;
   box-shadow: none;
   transform: translateY(2px);
 }