<ion-header *ngIf="factura">
   <ion-toolbar>
      <ion-buttons slot="start">
         <ion-back-button defaultHref="/menu/facturacion" (click)="cancel()"></ion-back-button>
      </ion-buttons>
      <div class="toolbarTitle" *ngIf="!factura.id">Nueva factura</div>
      <div class="toolbarTitle" *ngIf="factura.id">Editar factura</div>
   </ion-toolbar>
</ion-header>
<ion-content *ngIf="factura">
   <ion-grid class="facturaFrame">
      <ion-row class="grdItem">
         <div class="campo">
            Fecha:
         </div>
         <ion-datetime monthShortNames="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Set, Oct, Nov, Dic"
            displayFormat="DD MMM YYYY" placeholder="Ingrese fecha" [(ngModel)]="fechaFactura" class="dato datePicker">
         </ion-datetime>
         <ion-col class="grdItem">
            <div class="campo">
               Obra Social:
            </div>
            <input type="text" class="dato" [(ngModel)]="factura.obrasocial">
         </ion-col>
         <ion-col class="grdItem">
            <div class="campo">
               Monto:
            </div>
            <input type="text" class="dato" [(ngModel)]="factura.monto">
         </ion-col>
      </ion-row>

      <ion-row>
         <div class="campo">Observaciones</div>
         <textarea (change)="onObsChanged($event)" rows="4" cols="40" labels="notes" wrap="virtual" class="txtArea">
                  {{factura.observaciones}}
               </textarea>
      </ion-row>
      <ion-row>
         <ion-col>
            <div>
               <label *ngIf="isMobile">
                  <div class="btnAddAdjunto" (click)="chooseFile()">
                     <ion-icon name="attach"></ion-icon>
                  </div>
               </label>
               <label for="attachment" *ngIf="!isMobile">
                  <div class="btnAddAdjunto">
                     <ion-icon name="attach"></ion-icon>
                  </div>
               </label>
               <input type="file" style="display: none" id="attachment" (change)="handleFile($event.target.files)" />
            </div>
         </ion-col>
      </ion-row>

      <ion-row>
         <ion-toolbar class="backFooter" style="--background: var(--medium);">
            <div slot="start" class="glass glFlex" (click)="cancel()">
               <ion-icon name="close"></ion-icon>
               <div>Cancelar</div>
            </div>
            <div slot="end" class="glass glFlex" (click)="save()">
               <ion-icon name="save"></ion-icon>
               <div>Guardar</div>
            </div>
         </ion-toolbar>
      </ion-row>
   </ion-grid>
</ion-content>