<ion-header>
   <ion-toolbar>
      <ion-buttons slot="start">
         <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>FACTURACION</ion-title>
   </ion-toolbar>
</ion-header>

<ion-content>
   <ion-grid>
      <ion-row>
         <ion-col class="facFrame">
            <ion-list>
               <ion-list-header>
                     <ion-label class="monto">Pendientes: </ion-label>
                     <ion-label class="monto">$52000</ion-label>
               </ion-list-header>

               <ion-item-sliding *ngFor="let fac of facturasPendientes | orderBy:'fecha':true | searchInfo: criteria">
                  <ion-item-options side="start">
                     <ion-item-option color="primary">
                        <ion-icon slot="top" name="download"></ion-icon>
                        Descargar
                     </ion-item-option>
                     <ion-item-option color="warning">
                        <ion-icon slot="top" name="trash"></ion-icon>
                        Eliminar
                     </ion-item-option>
                  </ion-item-options>
                  <ion-item>
                     <ion-grid>
                        <ion-row>
                           <ion-col class="facFecha">
                              <div>{{fac.fecha | date:'dd/MM/yy'}}</div>
                           </ion-col>
                           <ion-col class="facOS">
                              <div >{{fac.obrasocial}}</div>
                           </ion-col>
                        </ion-row>
                        <ion-row>
                           <ion-col class="facMonto">
                              <div>${{fac.monto}}</div>
                           </ion-col>
                        </ion-row>
                     </ion-grid>
                  </ion-item>
                  <ion-item-options side="end">
                     <ion-item-option color="success" side="end">
                        <ion-icon slot="top" name="arrow-round-forward"></ion-icon>
                        Cobrada
                     </ion-item-option>
                  </ion-item-options>
               </ion-item-sliding>
            </ion-list>
            <!-- <ion-grid class="facFrame">
               <ion-row *ngFor="let fac of facturasPendientes | orderBy:'fecha':true | searchInfo: criteria">
                  <ion-col class="field">
                     {{fac.fecha | date:'dd/MM/yy'}}
                  </ion-col>
                  <ion-col class="field">
                     {{fac.monto}}
                  </ion-col>
                  <ion-col class="field">
                     {{fac.obrasocial}}
                  </ion-col>
                  <ion-col>
                     <button class="glass glRound" (click)="openFile(fac)">
                        <ion-icon name="download"></ion-icon>
                     </button>
                  </ion-col>
                  <ion-col>
                     <button class="glass glRound glState" (click)="changeState(fac, 'cobrada')">
                        <ion-icon name="arrow-dropright"></ion-icon>
                     </button>
                  </ion-col>
               </ion-row>
            </ion-grid> -->
         </ion-col>
         <ion-col class="facFrame">
            <ion-list>
               <ion-list-header>
                     <ion-label class="monto">Cobradas: </ion-label>
                  <div class="monto">$52000</div>
               </ion-list-header>

               <ion-item-sliding *ngFor="let fac of facturasPendientes | orderBy:'fecha':true | searchInfo: criteria">
                  <ion-item-options side="start">
                     <ion-item-option color="danger">
                        <ion-icon slot="top" name="arrow-round-back"></ion-icon>
                        Pendiente
                     </ion-item-option>
                  </ion-item-options>
                  <ion-item>
                     <ion-grid>
                        <ion-row>
                           <ion-col class="facFecha">
                              <div>{{fac.fecha | date:'dd/MM/yy'}}</div>
                           </ion-col>
                           <ion-col class="facOS">
                              <div>{{fac.obrasocial}}</div>
                           </ion-col>
                        </ion-row>
                        <ion-row>
                           <ion-col class="facMonto">
                              <div>${{fac.monto}}</div>
                           </ion-col>
                        </ion-row>
                     </ion-grid>
                  </ion-item>
                  <ion-item-options side="end">
                     <ion-item-option color="primary">
                        <ion-icon slot="top" name="download"></ion-icon>
                        Descargar
                     </ion-item-option>
                     <ion-item-option color="warning">
                        <ion-icon slot="top" name="trash"></ion-icon>
                        Eliminar
                     </ion-item-option>
                  </ion-item-options>
               </ion-item-sliding>
            </ion-list>
         </ion-col>
      </ion-row>
   </ion-grid>
</ion-content>