<ion-header>
   <ion-toolbar>
      <ion-buttons slot="start">
         <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>FACTURACION</ion-title>
   </ion-toolbar>
</ion-header>

<ion-content>
   <ion-item>
      <ion-icon name="person" class="filterIcon" slot="start"></ion-icon>
      <ion-label position="floating" class="txtCriteria">Ingrese filtro</ion-label>
      <ion-input type="text" [(ngModel)]="criteria" class="filterInput"></ion-input>
   </ion-item>
   <ion-grid>
      <ion-row>
         <ion-col class="facFrame">
            <ion-list>
               <ion-list-header>
                  <ion-label class="monto">Pendientes: </ion-label>
                  <ion-label class="monto" style="color:red">${{totalPendientes}}</ion-label>
               </ion-list-header>
               <ion-item-sliding
                  *ngFor="let fac of filterCriteria(facturasPendientes, 'totalPendientes') | orderBy:'fecha':true"  (click)="gotoFactura(fac)">
                  <ion-item-options side="start">
                     <ion-item-option color="primary">
                        <ion-icon slot="top" name="download"></ion-icon>
                        Descargar
                     </ion-item-option>
                     <ion-item-option color="warning">
                        <ion-icon slot="top" name="trash"></ion-icon>
                        Eliminar
                     </ion-item-option>
                  </ion-item-options>
                  <ion-item>
                     <ion-grid no-padding>
                        <ion-row align-items-center justify-content-center>
                           <ion-col size="1">
                              <ion-icon name="more" class="grabIcon"></ion-icon>
                           </ion-col>
                           <ion-col class="facFecha">
                              <div>{{fac.fecha | date:'dd/MM/yy'}}</div>
                           </ion-col>
                           <ion-col class="facOS">
                              <div>{{fac.obrasocial}}</div>
                           </ion-col>
                           <ion-col class="facMonto" justify-self-right>
                              <div>${{fac.monto}}</div>
                           </ion-col>
                           <ion-col size="1">
                              <ion-icon name="more" class="grabIcon"></ion-icon>
                           </ion-col>
                        </ion-row>
                     </ion-grid>
                  </ion-item>
                  <ion-item-options side="end">
                     <ion-item-option color="success" side="end">
                        <ion-icon slot="top" name="arrow-round-forward"></ion-icon>
                        Cobrada
                     </ion-item-option>
                  </ion-item-options>
               </ion-item-sliding>
            </ion-list>
            <!-- <ion-grid class="facFrame">
               <ion-row *ngFor="let fac of facturasPendientes | orderBy:'fecha':true | searchInfo: criteria">
                  <ion-col class="field">
                     {{fac.fecha | date:'dd/MM/yy'}}
                  </ion-col>
                  <ion-col class="field">
                     {{fac.monto}}
                  </ion-col>
                  <ion-col class="field">
                     {{fac.obrasocial}}
                  </ion-col>
                  <ion-col>
                     <button class="glass glRound" (click)="openFile(fac)">
                        <ion-icon name="download"></ion-icon>
                     </button>
                  </ion-col>
                  <ion-col>
                     <button class="glass glRound glState" (click)="changeState(fac, 'cobrada')">
                        <ion-icon name="arrow-dropright"></ion-icon>
                     </button>
                  </ion-col>
               </ion-row>
            </ion-grid> -->
         </ion-col>
         <ion-col class="facFrame">
            <ion-list>
               <ion-list-header>
                  <ion-label class="monto">Cobradas: </ion-label>
                  <div class="monto" style="color:green">$52000</div>
               </ion-list-header>

               <ion-item-sliding
                  *ngFor="let fac of filterCriteria(facturasCobradas, 'totalCobradas') | orderBy:'fecha':true">
                  <ion-item-options side="start">
                     <ion-item-option color="danger">
                        <ion-icon slot="top" name="arrow-round-back"></ion-icon>
                        Pendiente
                     </ion-item-option>
                  </ion-item-options>
                  <ion-item>
                     <ion-grid no-padding>
                        <ion-row align-items-center justify-content-center>
                           <ion-col size="1">
                              <ion-icon name="more" class="grabIcon"></ion-icon>
                           </ion-col>
                           <ion-col class="facFecha">
                              <div>{{fac.fecha | date:'dd/MM/yy'}}</div>
                           </ion-col>
                           <ion-col class="facOS">
                              <div>{{fac.obrasocial}}</div>
                           </ion-col>
                           <ion-col class="facMonto" justify-self-right>
                              <div>${{fac.monto}}</div>
                           </ion-col>
                           <ion-col size="1">
                              <ion-icon name="more" class="grabIcon"></ion-icon>
                           </ion-col>
                        </ion-row>
                     </ion-grid>
                  </ion-item>
                  <ion-item-options side="end">
                     <ion-item-option color="primary">
                        <ion-icon slot="top" name="download"></ion-icon>
                        Descargar
                     </ion-item-option>
                     <ion-item-option color="warning">
                        <ion-icon slot="top" name="trash"></ion-icon>
                        Eliminar
                     </ion-item-option>
                  </ion-item-options>
               </ion-item-sliding>
            </ion-list>
         </ion-col>
      </ion-row>
   </ion-grid>

   <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="glass glRound" style="position: absolute;">
      <ion-fab-button (click)="gotoFactura({})">
         <ion-icon name="add"></ion-icon>
      </ion-fab-button>
   </ion-fab>
</ion-content>