
.segment{
   margin-bottom: -16px;
}


.btnSegment {
   background: #b0b0b0;
   color: var(--light) !important;
   font-size: 13px;
   border-radius: 20px 20px 0 0;
   margin: 15px 5px;
   box-shadow: inset 2px 2px 3px grey;
}

.segment-button-checked{
   color: var(--dark) !important;
   background: var(--medium);
   box-shadow: 0 -2px 8px grey;
   font-size: 15px;
}
.segment-md .segment-button.segment-activated {
   border-color: #1e6bab;
   opacity: 1;
   color: black;
   font-size: 16px;
   font-weight: bold;
   background: #90a7bb;
}


.facturaFrame {
   box-shadow: 1px 4px 4px grey;
   background: var(--medium);
   border-radius: 20px;
   margin: 10px;
   overflow-y: auto;
   padding: 20px 10px;
   color: var(--dark);
}

.facturaNO{
   background-image: linear-gradient(#800000, #ce0202) !important;
   box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 -1px 0 rgba(255, 255, 255, 0.1) inset, 0 4px 0 #943333, 0 10px 10px rgba(0, 0, 0, 0.3) !important;
   font-size: 16px !important;
   font-weight: bold !important;
}
.facturaOK{
   background-image: linear-gradient(#000502, #00be1a) !important;
   box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 -1px 0 rgba(255, 255, 255, 0.1) inset, 0 4px 0 #33945b, 0 10px 10px rgba(0, 0, 0, 0.3) !important;
   font-size: 16px !important;
   font-weight: bold !important;
}

.facturaName{
   font-size: 16px !important;
}

.switch{
   margin-left: 10px;
   box-shadow: inset 1px 1px 3px black;
   -webkit-appearance: none;
   height: 2rem;
   width: 4rem;
   background-color: red;
   border-radius: 43px;
   position: relative;
   cursor: pointer;
   &::after {
     top: 4px;
     left: 4px;
     content: '';
     width: 1.5rem;
     height:1.5rem;
     background-color:lightgray;
     box-shadow: 1px 1px 5px black;
     position: absolute;
     border-radius: 100%;
     transition: 1s;
     border:none;
   }
   &:checked {
     background-color: green;
     &::after {
       transform: translateX(2rem);
     }
   }
   &:focus {
     outline:none;
   }
 }
 



