.facFrame{
   border-radius: 10px;
   box-shadow: inset 1px 1px 3px;
   background: var(--light);
   color:var(--dark);
   overflow-y: auto;
}

.grabIcon{
   color: var(--medium);
   font-size: 50px;
   margin: -10px -20px;
}
ion-item-sliding ion-item-options ion-item{
   font-size: 12px;
}
ion-item-sliding ion-item-options ion-item-option ion-icon{
   font-size: 20px;
}

.monto{
   font-size: 3.2vw;
   font-weight: bold;
   padding-right: 30px;
}
.facFecha{
   font-size: 2.4vw;
   padding: 0;
}
.facOS{
   font-size: 2.4vw;
   padding: 0;
   text-align: center;
}
.facMonto{
   padding: 0;
   text-align: right;
   font-weight: bold;
   font-size: 3vw;
}
.grdDetails{
   display: grid;
   grid-template-columns: 30px 1fr 30px;
   align-items: center;
}




.field{
   font-size: 12px;
}

.glFac{
   border-radius: 50%;
   width: 30px;
   height: 30px;
}

.glState{
   background:blue;
}